<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoolMemes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="number" name="snapshot_timestamp" placeholder="snapshot_timestamp">
            <input type="number" name="snapshot_platform_id" placeholder="snapshot_platform_id">
            <input type="number" name="snapshot_post_id" placeholder="snapshot_post_id">
            <input type="number" name="snapshot_type_id" placeholder="snapshot_type_id">
            <input type="number" name="snapshot_views_count" placeholder="snapshot_views_count">
            <input type="number" name="snapshot_likes_count" placeholder="snapshot_likes_count">
            <input type="number" name="snapshot_dislikes_count" placeholder="snapshot_dislikes_count">
            <input type="number" name="snapshot_re_count" placeholder="snapshot_re_count">
            <input type="number" name="snapshot_comments_count" placeholder="snapshot_comments_count">
            <input type="text" name="snapshot_name" placeholder="snapshot_name">
            <input type="text" name="snapshot_desc" placeholder="snapshot_desc">
            <input type="text" name="snapshot_link" placeholder="snapshot_link">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Snapshots List</div>
        {{#snapshots}}
            <div>
                <b>{{id}}</b>
                <span>{{snapshot_name}}</span>
                <i>{{snapshot_views_count}}</i>
            </div>
    {{/snapshots}}
</body>
</html>