<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoolMemes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="number" name="snapshot_views_count" placeholder="snapshot_views_count">
            <input type="number" name="snapshot_likes_count" placeholder="snapshot_likes_count">
            <input type="number" name="snapshot_dislikes_count" placeholder="snapshot_dislikes_count">
            <input type="number" name="snapshot_comments_count" placeholder="snapshot_comments_count">
            <input type="number" name="snapshot_timestamp" placeholder="snapshot_timestamp">
            <input type="text" name="snapshot_title" placeholder="snapshot_title">
            <input type="text" name="snapshot_id" placeholder="snapshot_id">
            <input type="text" name="snapshot_author_id" placeholder="snapshot_author_id">
            <input type="text" name="snapshot_tags" placeholder="snapshot_tags">
            <input type="text" name="snapshot_description" placeholder="snapshot_description">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Snapshots List</div>
        {{#snapshots}}
            <div>
                <b>{{id}}</b>
                <span>{{snapshot_title}}</span>
                <i>{{snapshot_views_count}}</i>
            </div>
    {{/snapshots}}
</body>
</html>